<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909509421826-69dtq74g21vddecs9ndh9132bogtob7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909509421826-69dtq74g21vddecs9ndh9132bogtob7j</string>
	<key>API_KEY</key>
	<string>AIzaSyAbnVp4vAg0j9j8yzXeFbMasDHdeQ-1tOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>909509421826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JatobaArthur.Instagram-Clone-iOS</string>
	<key>PROJECT_ID</key>
	<string>instagram-firebase-ios-d1e31</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-firebase-ios-d1e31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909509421826:ios:ede447666aad901148f01b</string>
</dict>
</plist>